/* Colour palette in light mode */
:root {
    --base-color: bisque;
    --base-variant: #e8e9ed;
    --footer-color: lightgrey;
    --main-text-color: darkslategray;
    --link-text-color: #16a085;
    --header-line-color: solid darkslategrey;
    --primary-color: #3a435d;
}

/* Colour palette for dark mode */
body.dark-mode {
    --base-color: #070b1d;
    --footer-color: #3a435d;
    --main-text-color: #efefef;
    --link-text-color: #16a085;
    --header-line-color: solid darkslategrey;
}

/* Base styles */
body {
    font-family: 'Open Sans', sans-serif;
    color: var(--main-text-color);
    background-color: var(--base-color);
    overflow-x: hidden;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition */
}

header {
    text-align: center;
}

header hr {
    width: 70%;
    margin: 10px auto;
    border: 1px var(--header-line-color);
    transition: border-color 0.3s ease-in-out;
}

main {
    max-width: 700px;
    margin: 5px auto;
    padding: 12px;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

footer {
    background-color: var(--footer-color);
    padding: 24px 0 36px;
    text-align: center;
    margin-top: 40px;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 1.2rem;
    transition: background-color 0.3s ease-in-out;
}

a {
    color: var(--link-text-color);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

footer nav a {
    margin: 0 10px;
}

/* Styling of the light/dark mode switch */
#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 9999px;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer; /* Cursor change for better UX */
    border: none; /* Remove border */
    box-shadow: none; /* Remove any box-shadow */
    outline: none; /* Remove any outline */
    transition: background-color 0.3s ease-in-out; /* Smooth transition */
}

/* Icon color */
#theme-switch svg {
    fill: var(--primary-color);
    stroke: none; /* Remove any SVG stroke */
    outline: none; /* Remove outline */
    transition: fill 0.3s ease-in-out; /* Smooth icon color transition */
}

/* Sun and moon icon toggling */
#theme-switch svg:last-child {
    display: none; /* Hides sun icon in light mode */
}

.dark-mode #theme-switch svg:first-child {
    display: none; /* Hides moon icon in dark mode */
}

.dark-mode #theme-switch svg:last-child {
    display: block; /* Shows sun icon in dark mode */
}